.color-container {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 30px 30px;
	padding: 40px;
	border-radius: 8px;
	background-color: white;
}

.color-button {
	width: 600px;
	padding: 30px;
	margin: 4px;
	text-align: center;
	border: none;
	border-radius: 14px;
}
